*{box-sizing:border-box;margin:0;padding: 0}
body{ font-size:12px; font-family:"微软雅黑";color: #fff}
html, body, div, span, h1, h2, h3, h4, h5, h6, em, img, strong,  sub, sup, tt,dd, dl, dt, form, label, table, caption, tbody, tfoot, thead, tr,  th, td,ul,li,p,a{ margin: 0; padding: 0;  }
input,select,textarea{ vertical-align:middle;}
img{  border:0;}
ul,li{ list-style:none;}
a{text-decoration:none;}
a:link,a:visited{text-decoration:none;color:#010101;}
a:hover{text-decoration:none;color:#ED0909;}
.overhide{overflow:hidden;}
.overhide-x{overflow-x:hidden;}
.clear  {clear: both;}
.clearfix:after {clear: both;content: ' ';display:  block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height:  0;}
.clearfix{zoom:1}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.pull-right{float: right;}
.pull-left{float: left;}